In [135]:
import pandas as pd

In [136]:
from sklearn.model_selection import train_test_split  
from sklearn.preprocessing import StandardScaler,LabelEncoder
import pickle

In [137]:
data=pd.read_csv('Churn_Modelling.csv')

In [138]:
data.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [139]:
##Preprocessing
#drop irrelevant columns

data=data.drop(['RowNumber','CustomerId','Surname'],axis=1) #axis=1 means column wise

In [140]:
data

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...
9995,771,France,Male,39,5,0.00,2,1,0,96270.64,0
9996,516,France,Male,35,10,57369.61,1,1,1,101699.77,0
9997,709,France,Female,36,7,0.00,1,0,1,42085.58,1
9998,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1
9999,792,France,Female,28,4,130142.79,1,1,0,38190.78,0

In [141]:
#Encoding categorical variables
label_encoder_gender=LabelEncoder()
data['Gender']=label_encoder_gender.fit_transform(data['Gender'])
data

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,0,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,0,41,1,83807.86,1,0,1,112542.58,0
2,502,France,0,42,8,159660.80,3,1,0,113931.57,1
3,699,France,0,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,0,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...
9995,771,France,1,39,5,0.00,2,1,0,96270.64,0
9996,516,France,1,35,10,57369.61,1,1,1,101699.77,0
9997,709,France,0,36,7,0.00,1,0,1,42085.58,1
9998,772,Germany,1,42,3,75075.31,2,1,0,92888.52,1
9999,792,France,0,28,4,130142.79,1,1,0,38190.78,0

In [142]:
from sklearn.preprocessing import OneHotEncoder
onehotencoder=OneHotEncoder(sparse_output=False)
geo_encoded=onehotencoder.fit_transform(data[['Geography']])
geo_encoded

array([[1., 0., 0.],
       [0., 0., 1.],
       [1., 0., 0.],
       ...,
       [1., 0., 0.],
       [0., 1., 0.],
       [1., 0., 0.]])

In [143]:
onehotencoder.get_feature_names_out(['Geography'])

array(['Geography_France', 'Geography_Germany', 'Geography_Spain'],
      dtype=object)

In [144]:
pd.DataFrame(geo_encoded,columns=onehotencoder.get_feature_names_out(['Geography']))

      Geography_France  Geography_Germany  Geography_Spain
0                  1.0                0.0              0.0
1                  0.0                0.0              1.0
2                  1.0                0.0              0.0
3                  1.0                0.0              0.0
4                  0.0                0.0              1.0
...                ...                ...              ...
9995               1.0                0.0              0.0
9996               1.0                0.0              0.0
9997               1.0                0.0              0.0
9998               0.0                1.0              0.0
9999               1.0                0.0              0.0

[10000 rows x 3 columns]

In [145]:
#Concatenate the one-hot encoded columns back to the original dataframe
geo_encoded_df=pd.DataFrame(geo_encoded,columns=onehotencoder.get_feature_names_out(['Geography']))
data=pd.concat([data,geo_encoded_df],axis=1)
data=data.drop(['Geography'],axis=1)
data

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain
0,619,0,42,2,0.00,1,1,1,101348.88,1,1.0,0.0,0.0
1,608,0,41,1,83807.86,1,0,1,112542.58,0,0.0,0.0,1.0
2,502,0,42,8,159660.80,3,1,0,113931.57,1,1.0,0.0,0.0
3,699,0,39,1,0.00,2,0,0,93826.63,0,1.0,0.0,0.0
4,850,0,43,2,125510.82,1,1,1,79084.10,0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,771,1,39,5,0.00,2,1,0,96270.64,0,1.0,0.0,0.0
9996,516,1,35,10,57369.61,1,1,1,101699.77,0,1.0,0.0,0.0
9997,709,0,36,7,0.00,1,0,1,42085.58,1,1.0,0.0,0.0
9998,772,1,42,3,75075.31,2,1,0,92888.52,1,0.0,1.0,0.0
9999,792,0,28,4,130142.79,1,1,0,38190.78,0,1.0,0.0,0.0

In [146]:
#Save encoder and sscaler
with open('label_enoder_gender.pkl','wb') as file:
    pickle.dump(label_encoder_gender,file)
with open('onehotencoder_geography.pkl','wb') as file:
    pickle.dump(onehotencoder,file)

In [147]:
##Divide data into independent and dependent variables
X=data.drop(['Exited'],axis=1)
y=data['Exited']

#Split data into training and testing sets
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=42)

#Scale the features
scaler=StandardScaler()
X_train=scaler.fit_transform(X_train)
X_test=scaler.transform(X_test)

We use StandardScaler to normalize features to mean 0 and standard deviation 1. The scaler is fitted only on training data to avoid data leakage, and the same transformation is applied to test data to ensure consistency.

In [148]:
X_train

array([[ 0.35649971,  0.91324755, -0.6557859 , ...,  1.00150113,
        -0.57946723, -0.57638802],
       [-0.20389777,  0.91324755,  0.29493847, ..., -0.99850112,
         1.72572313, -0.57638802],
       [-0.96147213,  0.91324755, -1.41636539, ..., -0.99850112,
        -0.57946723,  1.73494238],
       ...,
       [ 0.86500853, -1.09499335, -0.08535128, ...,  1.00150113,
        -0.57946723, -0.57638802],
       [ 0.15932282,  0.91324755,  0.3900109 , ...,  1.00150113,
        -0.57946723, -0.57638802],
       [ 0.47065475,  0.91324755,  1.15059039, ..., -0.99850112,
         1.72572313, -0.57638802]])

In [149]:
with open('scaler.pkl','wb') as file:
    pickle.dump(scaler,file)

In [150]:
data

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain
0,619,0,42,2,0.00,1,1,1,101348.88,1,1.0,0.0,0.0
1,608,0,41,1,83807.86,1,0,1,112542.58,0,0.0,0.0,1.0
2,502,0,42,8,159660.80,3,1,0,113931.57,1,1.0,0.0,0.0
3,699,0,39,1,0.00,2,0,0,93826.63,0,1.0,0.0,0.0
4,850,0,43,2,125510.82,1,1,1,79084.10,0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,771,1,39,5,0.00,2,1,0,96270.64,0,1.0,0.0,0.0
9996,516,1,35,10,57369.61,1,1,1,101699.77,0,1.0,0.0,0.0
9997,709,0,36,7,0.00,1,0,1,42085.58,1,1.0,0.0,0.0
9998,772,1,42,3,75075.31,2,1,0,92888.52,1,0.0,1.0,0.0
9999,792,0,28,4,130142.79,1,1,0,38190.78,0,1.0,0.0,0.0

ANN Implementation

In [151]:
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from tensorflow.keras.callbacks import EarlyStopping,TensorBoard
import datetime

In [152]:
#Build our ANN model
model=Sequential([
    Dense(64,activation='relu',input_shape=(X_train.shape[1],)), ##HL1
    Dense(32,activation='relu'), ##HL2
    Dense(1,activation='sigmoid') ##Output Layer
]


)

In [153]:
model.summary()

Model: "sequential_3"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_12 (Dense)            (None, 64)                832

 dense_13 (Dense)            (None, 32)                2080

 dense_14 (Dense)            (None, 1)                 33

=================================================================
Total params: 2945 (11.50 KB)
Trainable params: 2945 (11.50 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [154]:
##compile the model
model.compile(optimizer='adam',loss='binary_crossentropy',metrics=['accuracy'])

In [155]:
from tensorflow.keras.callbacks import EarlyStopping,TensorBoard

In [156]:
##Setup the tensorboard 
log_dir="logs/fit/" + datetime.datetime.now().strftime("%Y%m%d-%H%M%S")
tensorflow_callback=TensorBoard(log_dir=log_dir,histogram_freq=1)

In [157]:
##Set up early stopping
early_stopping_callback=EarlyStopping(monitor='val_loss',patience=10,restore_best_weights=True)

In [159]:
##Train the model

history=model.fit(X_train,y_train,validation_split=0.2,epochs=100,callbacks=[early_stopping_callback,tensorflow_callback])

Epoch 1/100
200/200 [==============================] - 1s 6ms/step - loss: 0.4825 - accuracy: 0.7994 - val_loss: 0.4443 - val_accuracy: 0.8119
Epoch 2/100
200/200 [==============================] - 1s 7ms/step - loss: 0.4948 - accuracy: 0.7984 - val_loss: 0.4440 - val_accuracy: 0.8213
Epoch 3/100
200/200 [==============================] - 2s 8ms/step - loss: 0.5022 - accuracy: 0.7984 - val_loss: 0.4814 - val_accuracy: 0.8175
Epoch 4/100
200/200 [==============================] - 1s 7ms/step - loss: 0.5426 - accuracy: 0.7917 - val_loss: 0.4884 - val_accuracy: 0.8012
Epoch 5/100
200/200 [==============================] - 2s 8ms/step - loss: 0.5256 - accuracy: 0.7919 - val_loss: 0.4892 - val_accuracy: 0.8012
Epoch 6/100
200/200 [==============================] - 2s 11ms/step - loss: 0.5475 - accuracy: 0.7894 - val_loss: 0.4522 - val_accuracy: 0.8106
Epoch 7/100
200/200 [==============================] - 2s 11ms/step - loss: 0.5177 - accuracy: 0.7925 - val_loss: 0.4778 - val_accuracy: 0.7937
Epoch 8/100
200/200 [==============================] - 1s 7ms/step - loss: 0.5355 - accuracy: 0.7839 - val_loss: 0.5121 - val_accuracy: 0.7887
Epoch 9/100
200/200 [==============================] - 2s 9ms/step - loss: 0.5396 - accuracy: 0.7905 - val_loss: 0.5455 - val_accuracy: 0.7981
Epoch 10/100
200/200 [==============================] - 2s 11ms/step - loss: 0.5513 - accuracy: 0.7798 - val_loss: 0.4391 - val_accuracy: 0.8100
Epoch 11/100
200/200 [==============================] - 3s 13ms/step - loss: 0.6498 - accuracy: 0.7802 - val_loss: 0.4444 - val_accuracy: 0.8219
Epoch 12/100
200/200 [==============================] - 1s 6ms/step - loss: 0.6201 - accuracy: 0.7839 - val_loss: 0.6486 - val_accuracy: 0.7431
Epoch 13/100
200/200 [==============================] - 1s 6ms/step - loss: 0.5768 - accuracy: 0.7817 - val_loss: 0.4351 - val_accuracy: 0.8256
Epoch 14/100
200/200 [==============================] - 1s 6ms/step - loss: 0.5677 - accuracy: 0.7847 - val_loss: 0.5714 - val_accuracy: 0.7887
Epoch 15/100
200/200 [==============================] - 2s 8ms/step - loss: 0.6304 - accuracy: 0.7727 - val_loss: 0.6295 - val_accuracy: 0.7675
Epoch 16/100
200/200 [==============================] - 2s 9ms/step - loss: 0.7353 - accuracy: 0.7655 - val_loss: 0.5563 - val_accuracy: 0.7675
Epoch 17/100
200/200 [==============================] - 1s 6ms/step - loss: 0.8088 - accuracy: 0.7677 - val_loss: 0.5899 - val_accuracy: 0.8112
Epoch 18/100
200/200 [==============================] - 2s 12ms/step - loss: 0.6288 - accuracy: 0.7800 - val_loss: 0.7166 - val_accuracy: 0.7625
Epoch 19/100
200/200 [==============================] - 1s 6ms/step - loss: 0.7664 - accuracy: 0.7611 - val_loss: 0.6453 - val_accuracy: 0.7931
Epoch 20/100
200/200 [==============================] - 1s 6ms/step - loss: 0.6886 - accuracy: 0.7750 - val_loss: 0.5060 - val_accuracy: 0.8094
Epoch 21/100
200/200 [==============================] - 1s 7ms/step - loss: 0.6489 - accuracy: 0.7736 - val_loss: 0.4562 - val_accuracy: 0.8263
Epoch 22/100
200/200 [==============================] - 1s 7ms/step - loss: 0.6692 - accuracy: 0.7719 - val_loss: 0.7450 - val_accuracy: 0.7875
Epoch 23/100
200/200 [==============================] - 1s 6ms/step - loss: 0.6578 - accuracy: 0.7817 - val_loss: 0.4644 - val_accuracy: 0.8156

In [160]:
model.save('churn_model.h5')

/Applications/anaconda3/envs/ann_env/lib/python3.11/site-packages/keras/src/engine/training.py:3103: UserWarning: You are saving your model as an HDF5 file via `model.save()`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')`.
  saving_api.save_model(

In [161]:
##Load Tensorboard extension
%load_ext tensorboard

In [163]:
%tensorboard --logdir logs/fit

Reusing TensorBoard on port 6006 (pid 43814), started 0:01:49 ago. (Use '!kill 43814' to kill it.)

In [ ]:
##Load the pickle file